.navbar {
  justify-content: center;
  text-align: center;
  color: white !important;
  font-weight: bold !important;
  width: 100%;
}

.navbar__brand {
  font-size: 60px !important;
  font-weight: bold;
  margin-left: auto !important;
  margin-right: auto !important;
}

.navbar__upper_navbar {
  min-height: 300px !important;
}

.navbar__lower_navbar {
  height: 100px !important;
  font-weight: bold !important;
}

.navbar__lower_navbar__div{
    font-weight: bold !important;
    color: white !important;
}

.navbar__link{
    color: white !important;
}

.navbar__search_tech{
    justify-content: space-around;
}


.navbar__search_tech_search_input{
    width: 100%;
}

.navbar__search_tech_button_container{
    width: fit-content;
}

.navbar__search_tech_button{
    height: 100%;
    width: 100%;
}

.navbar__nav_dropdown{
    color: white !important;
}


.navbar__cat_input_group{
  max-width: 300px;
  text-align: center;
  justify-content:center;
}

.navbar__cat_typehead::clearButton{
  background-color: red !important;
}

.navbar__search_cat_button{
  /* background-color: white; */
  margin-left: 1px;
}

.navbar__search_cat_button::after{
  /* background-color: white !important; */
}


@media screen and (max-width: 758px) {
  .navbar__brand {
    font-size: 40px !important;
  }

  .navbar__upper_navbar {
    min-height: 200px !important;
  }

  .navbar__lower_navbar {
    height: auto !important;
  }
}

.navbar__lower_navbar__middle_nav{
  margin-left: auto !important;
  margin-right: auto !important;
}

@media screen and (min-width: 758px) {
  .navbar__lower_navbar__div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
  }

  .navbar__link{
    font-size: 20px !important;
  }

  .navbar__link:hover,
  .navbar__link:focus,
  .navbar__link:active{
      border-bottom: 2px solid white !important;
  }
}
