.navbar__brand{
    font-weight: bold;
    font-size: 30px !important;
}

.navbar__link{
    color: white !important;
    font-size: 24px;
    font-weight: bold;
}

.navbar__link:hover,
.navbar__link:focus,
.navbar__link:active{
    border-bottom: 2px solid white !important;
}